config TLX493D_POLLING_INTERVAL_MS
    int "TLX493D Polling Interval (ms)"
    default 10
    help
        Polling interval for the TLX493D sensor in milliseconds.

config TLX493D_DRIVER
    bool "TLX493D 3D Magnetic Sensor Driver"
    depends on DT_HAS_INFINEON_TLX493D_ENABLED
    help
        Enable the driver for the Infineon TLX493D 3D magnetic sensor.



